cluster-config.sh
kubeconfig-group-avgk.yaml
ssh-private-key-group-avgk
key.json
secrets/data-storage/*-pure.yaml
secrets/mlops/*-pure.yaml
secrets/python-ide/*-pure.yaml
sealed-secrets.crt
secrets/argo-workflows/*-pure.yaml