# -----------------------------
# Core controller configuration
# -----------------------------
controller:
  replicas: 1

  workflowNamespaces:
    - argo-events

  metricsConfig:
    enabled: true

  securityContext:
    runAsNonRoot: true
    runAsUser: 1000

# -----------------------------
# Server (UI + API)
# -----------------------------
server:
  authMode: server
  secure: false
  enabled: true

  service:
    type: ClusterIP
    port: 12000

  ingress:
    # -- Enable an ingress resource
    enabled: true
    # -- Additional ingress annotations
    annotations: 
      cert-manager.io/cluster-issuer: letsencrypt
      kubernetes.io/backend-protocol: "HTTP"
      kubernetes.io/use-forwarded-headers: "true"
      kubernetes.io/proxy-read-timeout: "3600"
      kubernetes.io/proxy-send-timeout: "3600"
      kubernetes.io/ssl-redirect: "true"


    # -- Defines which ingress controller will implement the resource
    ingressClassName: "nginx"

    hosts:
      - argoevents.group-avgk.dski23a.timebertt.dev

    tls: 
      - secretName: argoevents-tls
        hosts:
          - argoevents.group-avgk.dski23a.timebertt.dev

# -----------------------------
# RBAC
# -----------------------------
rbac:
  create: true

# -----------------------------
# Pod garbage collection
# -----------------------------
podGC:
  enabled: true
  strategy: OnWorkflowCompletion