# -----------------------------
# Argo Events Controller
# -----------------------------
controller:
  replicas: 1

  rbac:
    enabled: true
    namespaced: false

  serviceAccount:
    create: true

  metrics:
    enabled: true

# -----------------------------
# CRDs
# -----------------------------
crds:
  install: true
  keep: true
