# postgres-values.yaml
auth:
  database: ds_db
  username: mlops
  postgresPassword: amazing-password

primary:
  persistence:
    enabled: true
    size: 10Gi
    storageClass: local-path

service:
  type: ClusterIP
  ports:
    postgresql: 5432

metrics:
  enabled: false
